<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <center>Gallery</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <di class="img">
    <ion-img src="assets/images (1).jpeg"></ion-img>
    <ion-img src="assets/images (2).jpg"></ion-img>
    <ion-img src="assets/images (3).jpeg"></ion-img>
    <ion-img src="assets/images (4).jpeg"></ion-img>
    <ion-img src="assets/images (5).jpeg"></ion-img>
    <ion-img src="assets/images (6).jpeg"></ion-img>
    <ion-img src="assets/images (7).jpeg"></ion-img>
    <ion-img src="assets/images (8).jpeg"></ion-img>
    <ion-img src="assets/images (9).jpeg"></ion-img>
    <ion-img src="assets/images (10).jpeg"></ion-img>
    <ion-img src="assets/images (11).jpeg"></ion-img>
    <ion-img src="assets/images (12).jpeg"></ion-img>
    <ion-img src="assets/images (13).jpeg"></ion-img>
    <ion-img src="assets/images (14).jpeg"></ion-img>
    <ion-img src="assets/images (15).jpeg"></ion-img>
  </di>
</ion-content>
