<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <center>Profile</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="img">
    <ion-img src="assets/yang.jpg"></ion-img>
  </div>
      <p>Anthea C. Afable
    <h2>Studied At: EVSU-CC<br>
      Current City: Barugo, Leyte<br>
      Status: Single<br>
      Citizenship: Filipino<br>
      Birthdate: April 25, 2000<br>
      Birthplace: Barugo, Leyte<br>
      Age: 21<br></h2>
</ion-content>
